.form {
    /* TODO make header and main equal 100 vh */
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
}
.form-title {
    margin: 0;
    margin-bottom: 1rem;
}

.form-text-input {
    width: 15rem;
    margin-right: 1rem;
}

.form-submit {
    font-size: 1rem;
    border: none;
    background-color: lightgreen;
    border-radius: 0.25rem;
}

.form-suggestions {
    width: 15rem;
    border: 1px solid #999;
    list-style: none;
    margin-top: 0;
    overflow-y: auto;
    padding-left: 0;
}

.suggestions-li {
    padding: 0.125rem;
    background: white;
}

.active-suggestion,
.suggestions-li:hover {
    background: pink !important;
    color: white;
    cursor: pointer;
}

.searchbar-container {
    display: flex;
    align-items: flex-start;
}

.searchbar {
    margin-right: 1rem;
}

.searchbar-label {
    margin-right: 1rem;
}

.input-suggestions-container {
    display: flex;
    flex-direction: column;
}

.warning-message {
    width: 15rem;
}
